body {
    background: rgba(0, 0, 0, 0.548);
}


.container{
    background: rgba(0, 0, 0, 0.342);
    color: rgb(255, 255, 0);
    height: 80px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    border: solid rgba(255, 255, 0, 0.562);
    
}

.meadote {
    background: rgba(0, 0, 0, 0.61);
    color:yellow;
    text-align: center;
    border-radius: 10px;
    border: solid rgba(255, 255, 0, 0.548)
}

.todoscont {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    color: black;
    width: 60%;
    padding-right: 25px;
    
}
.cont {
    background: rgba(255, 255, 0, 0.87);
    width: 110px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    }

.container2 {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
    border-radius: 10px;
    
    
}

.container2 img {
    width:200px;
    height: 250px;
    display:flex;
    border-radius: 150px;
    margin: 10px;
    border: solid rgba(255, 255, 0, 0.527);
    
    
}

.rodape {
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.342);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media (max-width: 700px) {
    .logo { display:none }
}